.container{
	margin: 20px 8px;
	padding: 30px 10px 20px;
	border-color: #DFDFDF;
	border-width: 1px 0;
	border-style: solid;
	position: relative;
	line-height: 1.6em;
	overflow: auto;
}
.pinterest-panels h3,
.menus-container h3{
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 1.2;
	margin: .1em 0 .8em;
}
.pinterest-panels p.about-description{
	color: #777;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-weight: normal;
	line-height: 1.6em;
	font-size: 20px;
}
.pinterest-panels .pinterest-logo {
	float: left;
	margin-bottom: 20px;
}
.pinterest-logo {
	text-shadow: 0 -1px 0 rgba(22, 57, 81, 0.3);
}
.pinterest-logo {
	padding-top: 118px;
	height: 50px;
	width: 173px;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	margin: 0 -5px;
	background: url('../images/pinterestlogo.png') center top no-repeat;
}
.tool-box h4 {
	font-size: 14px;
	margin: 1.33em 0;
}
.menus-container{
	max-width: 1500px;
	border-color: #DFDFDF;
	margin: 20px 8px;
	padding: 30px 10px 20px;
	border-width: 1px 0;
	border-style: solid;
	position: relative;
	line-height: 1.6em;
	overflow: auto;
}
.menus-container p.about-description{
	color: #777;
}
/* Columns */

.pib-column-container {
	clear: both;
	overflow: hidden;
	position: relative;
	padding-left: 26px;
}
.pib-column-container  .pib-column {
	margin: 0 5% 0 -25px;
	padding-left: 25px;
	width: 30%;
	float: left;
	min-width: 200px;
	min-height: 300px;
	line-height: 1.6em;
}
.pib-column-container .pib-column.panel-last {
	margin-right: 0;
}
#media-items {
	width: 100%;
}
.media-item .describe input[type="text"], .media-item .describe textarea {
	width: 260px;
}